.pl-ofa
	overflow: auto

.client-edit
	margin 20px;

#accordion-options
	.pl-tab-btn
		background-color #5d4037
	.pl-add-btn
		margin-bottom: 10px;
		color #fff
		margin-left 20px;
	.tab
		.active
			background-color #8d6e63