.op-box {
  display: flex;
  margin-left: 400px;
  position relative
}

.op-content {
  min-height: 700px;
  margin  0 50px 0 20px
  width 100%
}

.iphone {
  background: url(./img/iphone.png);
  width: 330px;
  height: 700px;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  position: fixed;
  margin: 0 auto;
  box-shadow: 15px 15px 5px -10px #999;
  border-radius: 60px;
  left 20px;
}

.iphone iframe {
  position: absolute;
  width: 270px;
  height: 462px;
  left: 62%;
  margin-left: -173px;
  top: 128px;
}

.op-wap-pulishBtnPanel {
  margin: 10px;
  position: fixed;
  top: 90px;
  left: 40px;
  z-index: 999;
}

.op-wap-item {
    margin: 0 15px;
}