.pd-fileBox {
	clear: both;
}

.pd-box {
	display: flex;
	margin: 0 30px;
}

.pd-framePannel {
	width: 600px;
	height: 885px;
	min-height: 885px;
}

.pd-frame {
	-webkit-transform: scale(0.45); margin: -510px 0 0 -349px;
}

.pd-content {
	margin: 0 30px;
	flex: 1;
}

.pd-back-btn-panel {
	margin: 0 0 10px 30px 
}

