.op-box-pc {
	display: flex;
	margin-left: 20px;
}

.op-framePannel-pc {
	margin 0;
	width: 440px;
	height: 600px;
	min-height: 600px;
	position fixed
}

.op-frame {
	width: 1438px;
    height: 1800px;
    -webkit-transform: scale(0.3);
    margin: -627px 0 0 -499px;
    background-color: #fff;
}

.op-content-pc {
	margin 0 30px 0 480px
	flex: 1;
    height: 100%;
}

.op-pc-pulishBtnPanel {
	margin: 5px 10px 10px;
}

.op-pc-item {
    margin: 0 10px;
}